[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
gunicorn = "*"
psycopg2-binary = "*"
requests = "*"
whitenoise = "*"
django-registration-redux = "*"
requests-oauthlib = "*"
drf-standardized-errors = "*"

[dev-packages]

[requires]
python_version = "3.10"
